@charset "utf-8";

@font-face{
 font-family: 'NanumGothicWeb';
 font-style: normal;
 font-weight: normal;
 src:url('../font/NanumGothic.eot'); 
 src:url('../font/NanumGothic.eot?#iefix') format('embedded-opentype')
 src:url('../font/NanumGothic.woff') format('woff'),
 url('../font/NanumGothic.ttf') format('truetype');
  url('../font/NanumGothic.otf') format('opentype');
}

@font-face{
 font-family: 'NanumMyeongjoWeb';
 font-style: normal;
 font-weight: normal;
 src: url('../font/NanumMyeongjo.eot'); 
 src:url('../font/NanumGothic.eot?#iefix') format('embedded-opentype')
 src: url('../font/NanumMyeongjo.woff') format('woff'),
 url('../font/NanumMyeongjo.ttf') format('truetype');
 url('../font/NanumGothic.otf') format('opentype');
}

/* layout */
.container{width:1097px; margin-bottom:40px;}/* 1097px; */
.container:after{content:""; clear:both; display:block;}
.container .left_warp{float:left; width:210px;}/* 278 */
.container .right_warp{float:right; width:855px; }/* 855 */

/* 왼쪽 레이아웃 */
.left_warp h2{width:210px; height:60px; line-height:60px; padding:0 0 0 60px; font-size:26px; color:#fff; background:url(../images/snb/title_bg.gif) no-repeat;}/* 210 */
.snb li{width:178px; padding:0 15px 0 15px; border-right:1px solid #5496c1; border-left:1px solid #5496c1}/* 210 */
.snb li:hover{color:#4897dc; background:url(../images/snb/snb_select.gif) no-repeat;}
.snb li:hover a{color:#4897dc;}
.snb li.last a{border-bottom:none;}
.snb li.select{background:url(../images/snb/snb_select.gif) no-repeat 50% 50%}
.snb li.select a{color:#4897dc;}
.snb li a{display:block; padding:19px 0 20px 0;  font-size:16px; font-weight:bold; color:#484848; border-bottom:1px solid #ddd}
.snb li a span.text{display:lnline-block;padding-left:18px}
.snb li.bottom_bg{width:210px; height:3px; border:none; background:url(../images/snb/snb_bg_bottom.gif) no-repeat;} 

.left_warp .service_btn_w{margin:14px 0 12px 0}
.left_warp .left_btn_T{width:210px; display:block; height:2px; background:url(../images/snb/left_btn_t.gif) no-repeat;}
.left_warp .left_btn_b{width:210px; display:block; height:4px; background:url(../images/snb/left_btn_b.gif) no-repeat;}
.service_btn li{position:relative; padding:0 10px 0 10px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.service_btn li.last a{border-bottom:none;}
.service_btn a{display:block; color:#888; font-weight:bold; border-bottom:1px solid #ddd; padding:11px 4px 11px 4px; background:url(../images/ico/ico03.gif) no-repeat 182px 13px}

/* 오른쪽 레이아웃 */
.title_route{position:relative; margin-bottom:26px; background:url(../images/bg/right_title_bg.gif) no-repeat left bottom }
.title_route h3{padding:20px 0 12px 0; font-size:28px; color:#444; }
.title_route .route{position:absolute;top:31px; right:0; color:#787878}
.title_route .route img{margin-top:-1px; padding-left:3px; padding-right:3px;}
.title_route .route span{color:#282828}
.template_btn{margin-top:-14px; padding:0 0 3px 0; text-align:right}

/* 테이블 안에 타이틀 */
h4.title01:after{content:""; clear:both; display:block;}
h4.title01{padding:0px 0 5px 0;  font-size:16px; color:#282828;  }
h4.title01 .surely{font-size:11px; font-weight:normal; color:#ff0000}
h4.title01 .txt{float:left; margin-top:9px;  }
h4.title01 .btn_r{float:right;}
h4.title01 .btn_r:after{content:""; clear:both; display:block;}
h4.title01 .btn_r a{float:left; margin-left:4px;}
h4.title01 .btn_r a.last{margin-left:17px;}
h4.title01 span.cor{color:#5094bf}
h4.title01 span.cor02{font-size:12px; font-weight:normal; color:#989898}
h4.title01 span.back01{display:inline-block; width:256px; padding:7px 0 4px 26px; font-size:12px; font-weight:normal; color:#fff; background:url(../images/bg/ico_bg.gif) no-repeat 0 0; !important;}

/* 시험자에게 남기는 글 */
.say_talk{overflow:hidden; width:855px; height:101px; margin-bottom:14px; background:url(../images/bg/bg03.gif) no-repeat;}
.say_talk .say_talk_text{float:left; width:552px; height:78px; margin:11px 0 0 123px;  overflow:hidden;}
.say_talk .sum{float:left; padding:52px 0 0 16px;}
.say_talk .sum input{width:141px; height:30px}
.say_talk02{overflow:hidden; width:853px; height:101px; margin-bottom:14px; background:url(../images/bg/bg04.gif) no-repeat;}
.say_talk02 .say_talk_text{width:717px; height:77px; margin:13px 0 0 123px; overflow:hidden; border:none; color:#282828}

/* 분석진행과정 */
.step_list{position:relative; height:77px; background:url(../images/bg/bg05.gif) repeat-x left bottom}
.step_list li.step01{position:absolute;top:0; left:0; z-index:50}
.step_list li.step02{position:absolute;top:0; left:210px; z-index:49}
.step_list li.step03{position:absolute;top:0; left:425px; z-index:48}
.step_list li.step04{position:absolute;top:0; left:605px; z-index:47}

/* 표 안 글씨 디자인 */
.addr_txt{margin-top:14px;}
.addr_txt span{color:#5094bf}





/* 로그인 페이지 */
.login_wrap{width:960px; height:410px; margin:0 auto; margin-top:75px; margin-bottom:19px; background:url(../images/bg/login_bg.jpg) no-repeat;}
.login_box{position:relative; padding:134px 0 0 413px;}
.login_box ul.login_input{position:relative;  margin-bottom:60px;}
.login_box ul.login_input li.first{margin-bottom:7px;}
.login_box ul.login_input input{width:328px; height:43px; color:#bbbbbb; border:1px solid #afafaf}
.login_box ul.login_input li.btn{position:absolute;top:0; left:334px;}
.login_box ul.member{width:470px;}
.login_box ul.member li{height:29px; line-height:29px; padding-left:8px; color:#787878; background:url(../images/ico/ico04.gif) no-repeat 0 12px; }
.login_box ul.member li.first{margin-bottom:5px} 
.login_box ul.member li{position:relative;}
.login_box ul.member li .member_btn{position:absolute;top:0px; right:0;}
.login_box .call_bg{position:absolute;top:273px; left:65px;}
.login_notice{width:960px; height:80px; margin:0 auto; padding-bottom:25px; background:url(../images/bg/login_bg02.gif) no-repeat}
.login_notice ul{padding:20px 0 0 80px; }
.login_notice li{padding-left:8px; line-height:20px; color:#484848; background:url(../images/ico/ico04.gif) no-repeat 0 10px;}
