@CHARSET "UTF-8";
BODY {
	background-color: #FFFFFF }
A {
	text-decoration: none; color: #0000FF }
A:link {
	text-decoration:none; color: #0000FF;   }
A:visited {
	text-decoration:none; color: #0000FF;   }
A:hover {
      text-decoration: underline; color: #FF0000;  }
A:active {
	text-decoration:none;  }

A.pbttn {
      BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #afc4d5 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 2px; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: 굴림체, Gulimche, AppleGothic, Seoul, Arial; HEIGHT: 19px; TEXT-DECORATION: none }
A.pbttn:link {
    BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #afc4d5 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 2px; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: 굴림체, Gulimche, AppleGothic, Seoul, Arial; HEIGHT: 19px; TEXT-DECORATION: none }
A.pbttn:visited {
    BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #afc4d5 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 2px; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: 굴림체, Gulimche, AppleGothic, Seoul, Arial; HEIGHT: 19px; TEXT-DECORATION: none }
A.pbttn:hover {
      BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #afc4d5 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 2px; FONT-FAMILY: 굴림체, Gulimche, AppleGothic, Seoul, Arial; HEIGHT: 19px; TEXT-DECORATION: none }

form { border:0; margin:10px;}


.root {
       font-family: arial; font-weight: bold; font-size  : 10pt  }
.item {
       font-family: arial;  font-weight: normal;   font-size  : 9pt;   }
.itemred {
       font-family: arial;   font-weight: normal;  font-size  : 9pt;  color: red; }
.frm{
       font: 9pt 굴림체;   Background-color:#FFFFFF; border-width:1; border-style:solid; }
.frmemp {
       font: 9pt 굴림체;   Background-color:#FFFFFF;  Border:0x SOLID #000000  }
td {
	font-family: "굴림체"; font-size: 9pt; line-height: 150% }
.frmclick {
	font: 9pt 굴림체; color: black; Background-color: #42CFFF; Border:0x SOLID #000000 }
.text {
	FONT-SIZE: 10pt; LINE-HEIGHT: 160%; FONT-FAMILY: "굴림체"; }

.sbttn {
        BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #afc4d5 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #FFFFF; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 2px; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: 굴림체, Gulimche, AppleGothic, Seoul, Arial; HEIGHT: 26px; TEXT-DECORATION: none}
.wbttn {
	font-size: 12px; background-color: #FFFFFF; background-repeat: repeat; background-attachment: scroll; cursor: hand; color: #000066; font-family: 굴림체, Gulim, AppleGothic, Seoul, Arial; height: 28px; text-decoration: none; border: 1 solid #7eadd9; padding-left: 4px; padding-right: 4px; padding-top: 3px; background-position: 0% 50% }
.text1 {
	font-size: 9pt;
	color: #494949;
}
.textfiled {
	font-size: 9pt;
	border: 1px solid #7eadd9;
}
.titletext1 {
	font-size: 14pt;
	color: #1F6787;
	font-weight: bold;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-color: #aaaaff;
	border-right-color: #aaaaff;
	border-bottom-color: #aaaaff;
	border-left-color: #aaaaff;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textfiled1 {
	font-size: 9pt;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #aaaaff;
	border-right-color: #aaaaff;
	border-bottom-color: #aaaaff;
	border-left-color: #aaaaff;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}
.textfiled2 {
	font-size: 10pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #AE7A4F;
	border-right-color: #AE7A4F;
	border-bottom-color: #AE7A4F;
	border-left-color: #AE7A4F;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textIssuer {
	font-family: Times New Roman, Gulim, AppleGothic, Seoul, Arial;
	align: center;
	font-size: 9pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #7eadd9;
	border-right-color: #7eadd9;
	border-bottom-color: #7eadd9;
	border-left-color: #7eadd9;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 37px;
	height: 18px;
}
.textfiled3 {
	font-size: 10pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textfiled4 {
	font-size: 10pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
}

.textfiled5 {
	font: 9pt 돋움체;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textfiled6 {
	font-size: 9pt 돋움체;
	color: #CC0000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.textred {
	font-size: 9pt;
	color: #CC0000;
	font-weight: normal;
}
.textblue {
	font-size: 10pt;
	color: #0000FF;
	font-weight: bold;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.text3 {
	font-size: 9pt;
	color: #BE3131;
}
.text4 {
	font-size: 9pt;
	color: #1F6787;
}
.text5 {
	font-size: 9pt;
	color: #464646;
	font-weight: bold;
}
.text6 {
	font-size: 9pt;
	color: #6E3200;
	font-weight: bold;
}
.text7 {
	font-size: 9pt;
	color: #6E3200;
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.text8 {
	font-size: 9pt;
	color: #6E3200;
}

.text9 {
	font-size: 9pt;
	color: #6E3200;
	text-align: right;
}

.panel0 {
        background-color: #CDD6E3;
}

.panel1 {
        background-color: #EDF2F7;
}

.panel2 {
        Background-color: #FFFFFF;
}

.tdtitle1{
    Background-color: #EDF2F7;
}

.Loading {
  position:absolute;
  width:200px;
  height:115px;
  z-index:1;
  left: 200px;
  top: 200px;
}