@CHARSET "UTF-8";
#pageNavi {
	color:#fff;
	position:absolute;
	bottom:0pt;
	height:30px;
	padding-top:0px;
	background-color:#000;
	background: url(chromebg2.gif) center center repeat-x;
	filter:alpha(opacity:100);
	opacity:1.0;
	-moz-opacity:1;
	width:100%;
	z-index:99;
	text-align: center;
	vertical-align: middle;
	font-family: arial, sans-serif;
	font-size: 10pt;
	font-family: "맑은 고딕";
}
#showMsg{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -88px;
	z-index:99;
	width: 176px;
	height: 92px;
	text-align: center;	
	font-family: "맑은 고딕";
}

.barMain {
	padding: 5px 10px 5px;
	background: #4D4D4D;
	height : 60px;
	border-bottom-color : #FDFDFD;
	border-top-color : #FDFDFD;
	border-left-color : #FDFDFD;
	border-right-color : #FDFDFD;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.captions {
	color: #FDFDFD;
	padding: 5px 2px 0;
	font: 11px/14px;
	text-shadow: 0 1px 0 #000;
}

.left {
	float: left;
}

.right {
	float: right;
}

.msg {
	margin-bottom : 8px;
	color: #FDFDFD;
	padding: 5px 2px 0;
	font: 11px/14px;
	text-shadow: 0 1px 0 #000;
}

A {
	font-weight: bold;
	text-decoration: none; 
	color: #000000;
}
A:link {
	font-weight: bold;;
	text-decoration:none;;
	color: #000000;
}
A:visited {
	font-weight: bold;
	text-decoration:none;
	color: #000000;
}
A:hover {
      font-weight: bold;
      text-decoration: none;
}
A:active {
	font-weight: bold;
	text-decoration:none;
}